.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60vh;
    min-width: 100%;
}

/* Style for the circle */
.table {
    width: 60vw;
    height: 40vh;
    border-radius: 50%;
    border: 2px solid teal;
    display: flex;
    justify-content: center;
    align-items: center;
    color: teal;
    font-size: 4vw;
    font-weight: bold;
}

.seat {
    position: absolute;
    left: calc(50% - 3vw);
    top: calc(50% - 3vw);
    height: 6vw;
    width: 6vw;
    border: 2px dotted #fff;
    border-radius: 50%;
}

.hero {
    border-color: aqua;
}

.seat:nth-child(1) { /* Hero */
    transform: translate(0, 22vw);
}

.seat:nth-child(2) {
    transform: translate(-22.9vw, 16.1vw);
}

.seat:nth-child(3) { /* Left */
    transform: translate(-35vw, 0);
}

.seat:nth-child(4) {
    transform: translate(-22.9vw, -16.1vw);
}

.seat:nth-child(5) { /* Top */
    transform: translate(0, -22vw);
}

.seat:nth-child(6) {
    transform: translate(22.9vw, -16.1vw);
}

.seat:nth-child(7) { /* Right */
    transform: translate(35vw, 0);
}

.seat:nth-child(8) {
    transform: translate(22.9vw, 16.1vw);
}