.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60vh;
    min-width: 100%;
}

/* Style for the circle */
.table {
    width: 60vw;
    height: 40vh;
    border-radius: 50%;
    border: 6px solid teal;
    display: flex;
    justify-content: center;
    align-items: center;
    color: teal;
    font-size: 4vw;
    font-weight: bold;
}

.seat {
    display: flex;
    justify-content: center;
    position: absolute;
    left: calc(50% - 4vw);
    top: calc(50% - 4vw);
    height: 8vw;
    width: 8vw;
    border: 2px dotted #fff;
    border-radius: 50%;
}

.card1 {
    transform: translateX(-5vw) rotate(15deg);
}

.hero {
    border-color: aqua;
    height: 15vw;
    width: 15vw;
    transform: translate(-3vw, 10vw);
    z-index: 98;
}

.seat:nth-child(2) {
    transform: translate(-25vw, 13vw);
}

.seat:nth-child(3) { /* Left */
    transform: translate(-36vw, 0);
}

.seat:nth-child(4) {
    transform: translate(-25vw, -13vw);
}

.seat:nth-child(5) { /* Top */
    transform: translate(0, -13vw);
}

.seat:nth-child(6) {
    transform: translate(25vw, -13vw);
}

.seat:nth-child(7) { /* Right */
    transform: translate(36vw, 0);
}

.seat:nth-child(8) {
    transform: translate(25vw, 13vw);
}